body {
    font-family: 'Inter' !important;
    background-color: #f8f8f8;
}

.swiper {
    color: white;
}

.loadingScreenWrapper {
    transform: unset !important;
}

.ReactModal__Overlay {
    background: #000B !important;
}